
@{
    ViewBag.Title = "_LandingPageLayout";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

    <title>Foodtator</title>
   
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link href="~/Content/foodtator.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!-- WARNING: Respond.js doesn't work if you view the page via file://-->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @RenderSection("Styles", required: false)


</head>



<body >
    @* Nav *@
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#" id="homeBtn">Home</a></li>
                    <li><a href="#" id="howItWorksBtn">How it works</a></li>
                    <li><a  href="#" id="contactBtn">Contact us</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    @* End Nav *@
    @RenderBody()

    <script type="text/javascript">
        var APPNAME = 'FoodtatorApp';
    </script>
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/bower_components/angular/angular.min.js"></script>
    <script src="~/Scripts/bower_components/angular-route/angular-route.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/tkj.js"></script>

    @RenderSection("pageInitScripts", required: false)

    @RenderSection("scripts", required: false)
</body>
</html>



